<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PdharoSa</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        .d1{
            background-image: url(/images/bgimages/rj4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 580px;
            /* text-align: center; */
            width: 100%;
            padding-top: 200px;
        }
        .d2{
           /* margin-top: 100px; */
           margin-left: 30%;
            background-image: url(/images/bgimages/rj17.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            width: 500px;
            text-align: center;
            padding-top: 5%;
            font-size: 30px;
        }
        input{
            width: 180px;
            height: 30px;
        }
        #button1{
            background-color: tan;
            /* height: 50px; */
        }
        #button2{
            background-color: tan;
        }
    </style>
</head>
<body>
    <div class="d1">
    <div class="d2">
        <!-- <form action="/useractivity" method="post" enctype="multipart/form-data"> -->
        Activity Name: <input type="text" name="activityname"><br><br>
        <input type="file" name="fufile" id="button1"><br><br>
       <a href="/thankyou"><input type="button" value="save" id="button2"></a>
        <!-- </form> -->
    </div>
</div>
</body>
</html>