<%- include('./partials/top.ejs')%>
<%- include('./partials/topbar.ejs')%>

<%- include('./partials/navbar.ejs')%>
<form action="/addplaces" method="post">
    <div class="body">
        <h2 class="card-inside-title">Places</h2>
<div class="row clearfix">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="places" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" placeholder="description" />
            </div>
        </div>
    </div>
    </div>
</form>












<%- include('./partials/bottom.ejs')%>