<%- include('./partials/top.ejs')%>
<%- include('./partials/topbar.ejs')%>

<%- include('./partials/navbar.ejs')%>

                    <h2>
                        INPUT
                        <small>Different sizes and widths</small>
                       <small> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque obcaecati odit vero nihil iusto dolorum maxime nobis, voluptatem itaque provident quisquam, libero voluptate ratione! Dignissimos vitae atque soluta consequuntur assumenda</small>
                        <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos sunt quae alias perspiciatis rerum! Ipsum sunt praesentium autem fuga molestiae! Porro minima tenetur aut quaerat nostrum architecto quam et, minus totam aliquam! Quaerat, vitae officia, consequuntur debitis sapiente eveniet magni iusto corrupti dolores ullam explicabo incidunt, consequatur omnis reiciendis. Aliquid illo nemo suscipit recusandae nihil tempore dolores vel aliquam inventore delectus? Quas vero quasi autem numquam, aliquid ratione. Molestias, excepturi!</small>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nostrum nihil molestias esse nobis optio odit at quidem sapiente laudantium quisquam excepturi, error amet dolorem est nemo expedita, sint velit natus aliquam a libero perspiciatis doloribus omnis. Pariatur rerum deserunt mollitia rem adipisci! Consectetur nam nostrum quis in officia necessitatibus quisquam? Obcaecati expedita unde nihil quidem deleniti architecto officia provident? Vitae corporis quas dolore libero rerum quae illum voluptas molestias.</small>
                        <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam dolorem, et obcaecati rem saepe fugit maxime voluptatibus cumque, consequuntur placeat similique. Corrupti eum iure libero vel maiores repudiandae? Deserunt quis omnis ab excepturi provident sint magni, similique, odio repudiandae harum voluptatem! Saepe dignissimos ipsum maxime accusantium eum eaque fuga nostrum, sit magnam id voluptate blanditiis cumque explicabo quis vitae ratione?</small>
                    </h2>



<%- include('./partials/bottom.ejs')%>

