<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thankyou</title>
    <link rel="stylesheet" href="../css/welcome.css">
</head>
<body>
    <div class="d1">
        <div class="d2">
           <h1> THANKYOU<br>FOR<br> BOOKING</h1>
          <a href="/places">  <button>BACK TO PLACES</button></a>
        </div>
    </div>
    
</body>
</html>