.d1{
    background-color: blue;
}
.d2{
    background-color: aqua;
}
.d3{
    background-color: brown;
}
.d4{
    background-color: aquamarine;
}
.d5{
    background-color: yellowgreen;
}
.d6{
    background-color: yellow;
}
.d7{
    background-color: violet;
}
.d8{
    background-color: tomato;
}